
body {
  font-family: "Lato", sans-serif;
  background: tan;
}

.sidenav {
	margin-top: 2.1%;
  height: 93%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: gray;
  overflow-x: hidden;
  transition: 0.8s;
  padding-top: 6px;
  border-radius: 10px;
  border-top: none;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 18px;
  font-family: Gabriola;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav td:hover{
  color: black;
	background-color: teal;
	transition:0.2s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.table{
  margin-top: -30px;
  text-align: center;
  border: none;
  background-color: grey;
}
td{
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
  border-bottom: 2px solid black;
  border-right: 1px solid black;
	background-color: #964B00;
}
img{
  width: 120px;
  height: 120px;
  margin-left:auto;
  margin-right:auto;
}

   
   .card { 
   border: 1px solid aqua;
   position: relative; 
   width: 200px; 
   height: 200px; 
   background: white; 
   border-top: none;
   border-radius: 0 0 10px 10px; 
   backdrop-filter: blur(15px); 
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); 
   margin-left: 7%;
   margin-right: auto;
   } 
   .cards{
    border: 1px solid aqua;
    text-align: center;
   position: relative; 
   margin-top: 3px;
   width: 200px; 
   height: 50px; 
   background: #964B00; 
   border-bottom: none;
   border-radius: 10px 10px 0px 0px; 
   backdrop-filter: blur(15px); 
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1); 
   margin-left: 7%;
   margin-right: auto;
   }
   .card img{
    width: 200px;
    height: 200px;
    border-radius: 0 0 10px 10px;
   }
   .ctext{
      font-size: 30px;
      color: white;
      margin-top: 7px;
   }
   
   .img-bx { 
   
   position: absolute; top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%;
   border-radius: 10px; 
   overflow: hidden; 
   transform: translateY(30px) scale(0.5); 
   transform-origin: top;
    
   } 
   
   .img-bx img { 
   
   position: absolute; 
   top: 0; 
   left: 0; 
   width: 100%; 
   height: 100%; 
   object-fit: cover; 
   
   } 
   
   .content { 
   
   position: absolute; 
   width: 100%; 
   height: 100%; 
   display: flex; 
   justify-content: center; 
   align-items: flex-end; 
   padding-bottom: 30px; 
   
   } 
   
   .content .detail { 
   
   display: flex; 
   justify-content: center; 
   align-items: center; 
   flex-direction: column; 
   text-align: center; 
   
   } 
   
   .content .detail h2 { 
   
   color: #444; 
   font-size: 1.6em; 
   font-weight: bolder; 
   
   } 
   
   .content .detail h2 span { 
   
   font-size: 0.7em; 
   color: #03a9f4; 
   font-weight: bold; 
   
   }
   .taas{
    background: grey;
    margin-top: -54px;
    border-radius: 0 0 10px 10px;
    height: 70px;
   }
   .line{
    margin-top: 400px;
   }
   
  .display-date {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 1000;
  color: white;
}

.display-time {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: white;
}
.container{
  margin-top:-335px;
  float: right;
  margin-right: 7px;
  border: 1px solid black;
  padding: 7px 7px;
  border-radius: 10px;
  background: #22313F;
}
.user{
  margin-top: -200px;
  margin-left: 350px;
}
.user label{
  font-weight: 500;
}
.user input{
    background: white;
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.user2{
  margin-top: -192px;
  margin-left: 600px;
}
.user2 label{
  font-weight: 500;
}
.user2 input{
    background: white;
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.user3{
  margin-top: -192px;
  margin-left: 850px;
}
.user3 label{
  font-weight: 500;
}
.user3 input{
    background: white;
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.user4{
  margin-top: -192px;
  margin-left: 1100px;
}
.user4 label{
  font-weight: 500;
}
.user4 input{
    background: white;
    text-align: center;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
}
.course{
	margin-top: -245px;
	margin-left: 30%;
}
.course input{
	font-family: 'Courier New', Courier, monospace;
	font-size: 25px;
	font-weight: bold;
	width: 760px;
	color: white;
	background: #964B00;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}
.hr{
	color: #964B00;
	margin-top: 240px;
}
.wellcome{
	margin-top: -352px;
	font-size: 7px;
	margin-left: 25%;
	border: 1px solid aqua;
	background: white;
	width: 700px;
	border-radius: 10px;
	text-align: center;
}
.violation{
  margin-top: 23%;
  border: 1px solid red;
  background-color: #964B00;
  width: 300px;
  height: 50px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
}
.violation h1{
  font-family: cursive;
  text-align: center;
  color: white;
  margin-top: 4px;
}
.violation2{
  border: 1px solid red;
  margin-top: -19px;
  width: 299px;
  height: 170px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: lightcoral;
}
.announce{
  margin-top: -74%;
  border: 1px solid green;
  background-color: #964B00;
  width: 300px;
  height: 50px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  margin-left: 354%;
}
.announce h1{
  font-family: cursive;
  text-align: center;
  color: white;
  margin-top: 4px;
}
.announce2{
  border: 1px solid green;
  margin-top: -6.5%;
  width: 299px;
  height: 170px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: rgb(207, 250, 144);
}
.ulit{
  margin-top: -74%;
  border: 1px solid black;
  background-color: #964B00;
  width: 300px;
  height: 50px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  margin-left: 0;
}
.ulit h1{
  font-family: cursive;
  text-align: center;
  color: white;
  margin-top: 4px;
}
.ulit2{
  border: 1px solid black;
  margin-top: -6.5%;
  width: 299px;
  height: 170px;
  border-top: none;
  border-radius: 0 0 10px 10px;
  background-color: white;
}






body,li,ul{
	margin:0px auto;
}

h6{
	font-family: 'Courier New', Courier, monospace;
	width: auto;
	height: auto;
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: -7px;
}
header{
	border: 2px solid black;
	background: #964b00;
	width:100%;
	height:26px;
}
nav{
	width:auto;
	height: auto;
	padding: .7%;
}
nav ul{
	float: center;
	height:50px;
}
nav a{
	text-decoration:none;
	color: white;
	background-color: #964b00;
	padding:10px;
	width:auto;
	font-size:20px;
	font-weight: bold;
	border: 1px solid black;
	font-family:Gabriola;
	height:50px;

}
nav a:hover{
	color: black;
	background-color: white;
	transition:0.5s;
}
nav li{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
}

#center{
	margin:0px auto;
	width:95%;
}
#center-set{
	float: left;
	width:100%;
	padding-top:1%;
	padding-bottom:0.5%;
	background-color:#A2DED0;
	border-top:5px solid #3498DB;
}
#signup{
	float: left;
	width:50%;
}
#signup-st,#login-st{
	background-color:#22313F;
	margin-top: 25px;
	border-radius:20px;
	-webkit-box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.85);
}
#reg{
	padding-top:10px;
}
#reg-head,#reg-bottom,#reg-head-fail{
	width:100%;
	text-align:center;
	background-color:#fff;
	font-weight:bold;
}
.headrg{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	padding-top:12px;
	padding-bottom:12px;
	font-size:22px;
	color:#6C7A89;
}
.btmrg{
	padding-top:5px;
	padding-bottom:5px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	font-size:18px;
	color:#22313F;
}
#reg-head-fail{
	color:#D35400;
}
#reg-head:hover{
	color:#3498DB;
	transition:1s;
}
#tb-name{
	float: left;
	font-size:20px;
}
#tb-box{
	height:22px;
	width:200px;
}
table{
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	background-color: #fff;
}
td{
	border: 1px solid black;
}
#st{
	width:100%;
	text-align:center;
	padding-top:30px;
	padding-bottom:10px;
}
#st-btn{
	text-align:center;
	padding:10px 21px 10px 21px;
	background-color:#3498DB;
	border:none;
	color:#fff;
	cursor:pointer;
	font-size:20px;
	font-weight:bold;
}
#st-btn:hover{
	color:#3498DB;
	background:#fff;
	transition:1s;
}
td.t-1{
	float:left;
	width:44%;
	text-align:right;
	color:#C5EFF7;
}
td.t-2{
	float:left;
	width:55%;
}
#lg-1{
	padding:10px;
	float:left;
	width:95%;
}
.tl-1{
	float: left;
	width:40%;
	padding-right:5%;
	text-align:center;
	color:#C5EFF7;
}